@import "tailwindcss";

@theme {
  --font-sans: "VT323", monospace;
  
  --font-terminal: "VT323", monospace;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #050505;
  letter-spacing: 0.05em;
}